.navbar {
	overflow: hidden;
	background-color: blue;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
  }
  .title {
	padding:0;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
  }
  
  .navbar a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .navbar a:hover {
	background: #ddd;
	color: black;
  }
	 .center-screen {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	  min-height: 100vh;
	}

  
	.p {
		font-family: 'Courier New', Courier, monospace;
		font-size: 18px;;
	}
	.sidebar {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 15;
	  top: 0;
	  left: 0;
	  background-color: blue;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 40px;
	  }
	  
	  .sidebar a {
	  padding: 8px 8px 8px 32px;
	  text-align: center;
	  text-decoration: none;
	  font-size: 25px;
	  color: white;
	  display: block;
	  transition: 0.3s;
	  }
	  
	  .sidebar a:hover {
	  color: cyan;
	  }
	  
	  .sidebar .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	  }
	  
	  .openbtn {
	  font-size: 20px;
	  cursor: pointer;
	  background-color: blue;
	  color: white;
	  padding: 10px 15px;
	  border: none;
	  }
	  
	  .openbtn:hover {
	  background-color: cyan;
	  }
	  
	@media screen and (max-width: 600px) {
	  .column {
		width: 100%;
	  }
	  .navbar a {
		float: right;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 12px 14px;
		text-decoration: none;
		font-size: 12px;
	  }
  
	  .sidebar {padding-top: 15px;}
	  .sidebar a {font-size: 18px;}
	}

	code {
		background-color: black;
		color: white;
		text-align: center;
	}
	
	code p {
		background-color: gray;
		text-align: center;
		font-family: Consolas;
	}
	.comment {
	  text-align: center;
	  font-size: 12px;
		font-weight: bold;

	}


		span.bold-list {
			font-weight: bold;
			color: blue;
		  }

		  .push {
			height: 30px;
		  }
